<div class="project" tabindex="0">
  <img class="project__picture" src="${image}" alt="project image" />
  <div class="project__cover">
    <div class="project__description font__color-base">
      <span
        class="project__description__text font__size-ml font__size__mobile-sm-m"
        id="project-description-${id}"
      >
      </span>
      <a
        href="${link}"
        target="blank"
        class="project__description__button font__size-ml"
        >Check it!</a
      >
    </div>
  </div>
  <div
    class="project__title font__color-identity font__size-ml font__size__mobile-m"
  >
    <h3>${title}</h3>
  </div>
  <div
    class="project__view-more hide-desktop font__size-ml font__size__mobile-m"
  >
    View more
  </div>
  <ul id="project-tags-${id}" class="project__tags"></ul>
</div>
