.skills {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  &__switch-button {
    background-color: colors.$accent;
    color: colors.$base;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 5px;
    padding: 5px;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: -1px 1px 10px 3px colors.$shadow;
    transition: background-color 0.3s ease, color 0.3s ease;

    @include breakpoints.mobile {
      width: 50px;
      height: 50px;
    }

    & i {
      font-size: 50px;


      @include breakpoints.mobile {
        font-size: 35px;
      }
    }

    @media (hover: hover) {
      &:hover {
        background-color: colors.$dark-accent;

        & i {
          text-shadow: -2px 2px 2px colors.$shadow;
        }
      }
    }

    &:focus {
      background-color: colors.$dark-accent;

      & i {
        text-shadow: -2px 2px 2px colors.$shadow;
      }
    }

    &:active {
      background-color: colors.$dark-accent;
      box-shadow: inset 1px 1px 3px 0px colors.$shadow;
    }

    &.active {
      background-color: colors.$dark-accent;

      @media (hover: hover) {
        &:hover {
          background-color: colors.$accent;
        }
      }

      &:active {
        background-color: colors.$accent;
      }

      &:focus {
        background-color: colors.$accent;
      }

    }
  }

  &__content {
    $background: #222;
    color: colors.$background;
    background-color: colors.$base;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 5px 10px 10px colors.$shadow;
    width: 80%;
    height: 80%;
    position: relative;

    &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 50px;

      @include breakpoints.lt-desktop {
        margin-bottom: 10px;
      }
    }

    @include breakpoints.desktop {
      min-width: 900px;
      max-width: 1600px;
    }

    &__list {
      overflow-y: auto;
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      gap: 20px;

      @include breakpoints.lt-desktop {
        grid-auto-flow: row;
        grid-auto-rows: 1fr;
      }
    }

    &__stats {
      transform: rotateY(180deg);
    }
  }

  &__scene {
    perspective: 600px;
    height: 80%;
  }

  &__card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;

    &.is-flipped {
      transform: rotateY(180deg);
    }

    &__face {
      position: absolute;
      height: 100%;
      width: 100%;
      backface-visibility: hidden;
    }
  }
}