.footer {
  background-color: colors.$shadow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  &::before {
    content: "";
    top: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 150px solid colors.$base;

    @include breakpoints.tablet {
      border-top: 100px solid colors.$base;
    }

    @include breakpoints.mobile {
      border-top: 50px solid colors.$base;
    }
  }

  &__form {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
