.footer-head {
  position: relative;
  width: 100%;
  top: 0;
  height: 150px;
  overflow: hidden;

  @include breakpoints.tablet {
    height: 100px;
  }

  @include breakpoints.mobile {
    height: 50px;
  }
}

.footer-triangle-white {
  position: absolute;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    position: absolute;
    left: calc(50% - 200px);
    width: 40px;
    height: 100%;
    top: 0;
    background-color: colors.$base;
    // -webkit-transform: skew(-40deg);
    // -moz-transform: skew(-40deg);
    // -o-transform: skew(-40deg);
    // -ms-transform: skew(-40deg);
    transform: skew(250deg);

    @include breakpoints.tablet {
      left: calc(50% - 130px)
    }

    @include breakpoints.mobile {
      left: calc(50% - 130px)
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: calc(50% - 200px);
    width: 50px;
    height: 100%;
    top: 0;
    background-color: colors.$base;
    transform: skew(-250deg);

    @include breakpoints.tablet {
      right: calc(50% - 130px);
    }

    @include breakpoints.mobile {
      right: calc(50% - 70px);
    }
  }
}

.footer-triangle-black {
  position: absolute;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    position: absolute;
    left: -200px;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: colors.$shadow;
    transform: skew(250deg);

    @include breakpoints.tablet {
      left: -130px;
    }

    @include breakpoints.mobile {
      left: -70px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    right: -200px;
    width: 50%;
    height: 100%;
    top: 0;
    background-color: colors.$shadow;
    // -webkit-transform: skew(40deg);
    // -moz-transform: skew(40deg);
    // -o-transform: skew(40deg);
    // -ms-transform: skew(40deg);
    transform: skew(-250deg);

    @include breakpoints.tablet {
      right: -130px;
    }

    @include breakpoints.mobile {
      right: -70px;
    }
  }
}

.footer {
  background-color: colors.$shadow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  // &::before {
  //   content: "";
  //   top: 0;
  //   width: 0;
  //   height: 0;
  //   border-left: 50vw solid transparent;
  //   border-right: 50vw solid transparent;
  //   border-top: 150px solid colors.$base;

  //   @include breakpoints.tablet {
  //     border-top: 100px solid colors.$base;
  //   }

  //   @include breakpoints.mobile {
  //     border-top: 50px solid colors.$base;
  //   }
  // }

  &__content {
    margin-top: 2rem;
    flex: 1;
    max-width: 700px;
    width: 90%;
  }

  &__links {
    margin: 10px;
  }
}