.footer {
  background-color: colors.$shadow;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;

  &::before {
    content: "";
    top: 0;
    width: 0;
    height: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 150px solid colors.$base;

    @include breakpoints.tablet {
      border-top: 100px solid colors.$base;
    }

    @include breakpoints.mobile {
      border-top: 50px solid colors.$base;
    }
  }

  &__content {
    margin-top: 2rem;
    flex: 1;
    max-width: 700px;
    width: 90%;
  }

  &__links {
    margin: 20px;
  }
}
