.about {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  &__content {
    display: flex;
    word-spacing: -0.05em;
    position: relative;
    color: colors.$background;
    background-color: colors.$base;
    border-radius: 20px;
    box-shadow: 5px 10px 10px colors.$shadow;

    padding: 5%;

    &__location {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 5px;
      right: 15px;

      & i {
        font-size: 1rem;
        margin-right: 4px;
      }
    }
  }

  &__picture {
    border-radius: 20px;
    box-shadow: 5px 10px 10px colors.$shadow;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../images/profile.webp");
    margin-left: 16px;
    margin-bottom: 16px;

    .no-js & {
      background-image: url("../../../images/profile.jpg");
    }
  }

  &__link {
    text-decoration: none;
    color: colors.$dark-accent;
    font-weight: bold;

    &:hover {
      color: colors.$identity;
    }

    &:active {
      color: colors.$identity;
    }
  }
}