<div class="about">
  <div class="about__content">
    <div>
    <h2 class="font__size-l font__size__mobile-ml font__size__short-screen-m">Full-stack Software Engineer</h2>
    <p class="font__size-ml font__size__short-screen-standard font__size__mobile-m">I love building fast, simple and responsive web applications</p>
  </div>
    <div class="about__picture"></div>
    <span class="about__content__location font__size-m font__size__mobile-standard font__size__tablet-standard font__color-accent"><i class="material-icons font__color-dark-accent" title="View more">pin_drop</i> Seville, Spain</span>
    </p>
  </div>
</div>
