.nav {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s ease, opacity 1s ease;
  z-index: 10;
  padding: 10px;

  &__button {
    color: inherit;
    border: none;
    font: inherit;
    background-color: colors.$identity;
    opacity: 0.4;
    border-radius: 5px;
    transition: opacity 0.4s ease;

    &:hover {
      opacity: 1;
    }
  }

  &__list {
    display: grid;

    @include breakpoints.desktop {
      grid-auto-flow: column;
      gap: 30px;
    }

    & a {
      text-shadow: 1px 1px 1px colors.$background;
      text-decoration: none;
      color: colors.$identity  !important;

      &:active {
        text-shadow: none;
      }

      &:visited {
        color: inherit;
      }
    }
  }
}

.show-nav {
  visibility: visible;
  opacity: 1;
}