<div id="nav" class="nav">
  <button id="nav-button" class="nav__button hide-gt-mobile">
    <i class="material-icons font__size-l" title="open menu">menu</i>
  </button>
  <div id="nav-list" class="nav__bar">
    <span class="hide-mobile nav__logo"></span>
    <nav class="nav__list">
      <button id="nav-close" class="hide-lt-tablet nav__list__close">
        <i class="material-icons" title="switch bar chart mode">close</i>
      </button>
      <a href="#landing">Landing</a>
      <a href="#skills">Skills</a>
      <a href="#footer">Contact</a>
    </nav>
  </div>
</div>
