@import url("https://fonts.googleapis.com/css?family=Open+Sans");

body {
  background-color: colors.$background;
  font-family: "Open Sans", sans-serif;
  color: colors.$base;
}

.base {
  color: colors.$base;
}

.identity {
  color: colors.$identity;
}

.accent {
  color: colors.$accent;
}

.dark-accent {
  color: colors.$dark-accent;
}

.fill-base {
  background-color: colors.$base;
}

.fill-identity {
  background-color: colors.$identity;
}

.fill-accent {
  background-color: colors.$accent;
}

.fill-dark-accent {
  background-color: colors.$dark-accent;
}
