@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  scroll-behavior: smooth;
}

body {
  background-color: colors.$background;
  font-family: "Open Sans", sans-serif;
  color: colors.$base;
}

section {
  height: 100vh;
}

.identity {
  color: colors.$identity;
}

.dark-accent {
  color: colors.$dark-accent;
}

.accent {
  color: colors.$accent;
}

.base {
  color: colors.$base;
}

@import "./components.scss";
