@mixin font-sizes {
  &-xxl {
    font-size: 4rem;
    line-height: 6rem;
  }

  &-xl {
    font-size: 3rem;
    line-height: 4.5rem;
  }

  &-l {
    font-size: 2rem;
    line-height: 3rem;
  }

  &-ml {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  &-m-project {
    font-size: 1.25rem;
    line-height: 1.8rem;
  }

  &-m {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  &-standard {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  &-s {
    font-size: 0.5rem;
    line-height: 0.75rem;
  }
}

.font {
  &__color {
    &-identity {
      color: colors.$identity;
    }

    &-dark-accent {
      color: colors.$dark-accent;
    }

    &-accent {
      color: colors.$accent;
    }

    &-base {
      color: colors.$base;
    }
  }

  &__size {
    @include font-sizes();

    &__desktop {
      @include breakpoints.desktop {
        @include font-sizes();
      }
    }

    &__tablet {
      @include breakpoints.tablet {
        @include font-sizes();
      }
    }

    &__mobile-sm {
      @include breakpoints.mobile-sm {
        @include font-sizes();
      }
    }

    &__mobile {
      @include breakpoints.mobile {
        @include font-sizes();
      }
    }

    &__lt-desktop {
      @include breakpoints.lt-desktop {
        @include font-sizes();
      }
    }

    &__short-screen {
      @include breakpoints.short-screen {
        @include font-sizes();
      }
    }
    &__desktop-large {
      @include breakpoints.desktop-large {
        @include font-sizes();
      }
    }
  }
}
