.skill-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & i {
    color: colors.$identity;
    font-size: 4rem;

    @include breakpoints.lt-desktop {
      font-size: 8rem;
    }

    @include breakpoints.short-screen {
      font-size: 5rem;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    &__action {
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      color: colors.$dark-accent;
      border: 1px solid colors.$dark-accent;
      border-radius: 25px;
      padding: 5px;

      &:hover {
        background-color: colors.$dark-accent;
        color: colors.$base;
      }
      &:active {
        background-color: colors.$dark-accent;
        color: colors.$base;
      }
      &:focus {
        background-color: colors.$dark-accent;
        color: colors.$base;
      }
    }
  }

  &__container {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__list {
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    gap: 16px;
    padding: 10px 0;
    background-color: colors.$base;

    @include breakpoints.lt-desktop {
      transition: right 1s ease;
      visibility: none;
      height: 90%;
      position: absolute;
      top: -20px;
      border: none;
      gap: 2rem;
      right: 1000px;

      @include breakpoints.short-screen {
        gap: 1rem;
      }

      &.show {
        visibility: visible;
        right: 0;
      }
    }

    &__close {
      background: none;
      color: inherit;
      border: none;
      font: inherit;
      color: colors.$dark-accent;
      font-weight: bolder;
      background-color: colors.$base;
    }
  }
}
