.skill-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__icon {
    color: colors.$identity;
  }

  &__list {
    list-style-type: none;
    padding: 0;
  }
}
